<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.developer.moodoftheday">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity android:name=".ActivityGirisSayfasi" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityModumSayfasi" />
        <activity android:name=".Kaydol" />
        <activity android:name=".ModAdapter" />
        <activity android:name=".ActivityProfilSayfasi" />
        <activity android:name=".profilModAdapterr" />
        <activity android:name=".ActivityArkadaslar" />
        <activity android:name=".ActivityArkadasDegil" />
        <activity android:name=".araAdapter" />
        <activity android:name=".ActivityAra" />
        <activity android:name=".profilResmi" />
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActivityArkadasListesi" />
        <activity android:name=".ActivityAyarlar" />
        <activity android:name=".ActivityGizlilik" />
        <activity android:name=".gizlilikAdapter" />
        <activity android:name=".ActivityTakip" />
        <activity android:name=".TakipAdapter"></activity>
    </application>

</manifest>